@font-face {
  font-family: openS;
  src: url(Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: openS;
  }
  
  body {
    background-color: rgb(243, 247, 8);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
  }
  
  .container {
    background-color: #222;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .container .question {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }
  .container .options {
    user-select: none;
    padding: 15px;
    display: block;
    background-color: white;
    width: 70%;
    margin: 0 20% 20px 5%;
    color: #111;
    text-decoration: none;
    border-radius: 5px;
  }
  .container .options:first-child {
    margin-top: 30px;
  }
  .container .options:hover {
    background-color: rgb(170, 170, 170);
  }
  .container .button {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 100px;
    border-radius: 30px;
  }
  .container .reset {
    margin-top: 30px;
  }
  .container .back {
    margin-top: 5px;
  }

  .reset:hover{
    background-color: #999;
  }